// label
$normal-label: #c69b9b;
$fighting-label: #c72100b8;
$flying-label: #5d73d4;
$poison-label: #6b246eb3;
$ground-label: #e0c068;
$rock-label: #9e863d;
$bug-label: #88960e;
$ghost-label: #5d73d4;
$steel-label: #5d73d4;
$fire-label: #d56262;
$water-label: #65aae3;
$grass-label: #88ba88;


$electric-label: #fbb917;
$psychic-label: #dc3165de;
$ice-label: #63c8e1;

$dragon-label: #40a5be;
$fairy-label: #e191bc;
$unknown-label: #008080;
$shadow-label: #25273e91;
$dark-label: #00000096;


// color 
$orange: orange;
$yellow: #ebeb32;
$blue: #0070f3;
$book-color: #b72f2f;
$pink: #eb3264;


// shadow
$normal-shadow: #4c6651;


// bg
$list-bg: #f4f2f2;
$background-color: #f7f4f4;
$container-bg: #f0f0f0;




