$blue: #0070f3;
$book-color: #b72f2f;

$pink: #eb3264;

$empty-star: #e4e0e0;
$rating-star: #f7c900;

$border-line: #f1f1f1;

$green-label: #88ba88; //#88ba88;
$light-green-label: #4dbf62;
$purple-label: #b875b8;
$red-label: #d56262;
$blue-green-label: #84cec6;
$blue-label: #65aae3;
$orange-label: orange;
$yellow-label: #ebeb32;

$green-shadow: #687a68;
$red-shadow: #883c3c;
$blue-shadow: #294359;
$normal-shadow: #4c6651;

$card-color: #f0f0f0;
$list-bg: #f4f2f2;

$graph-dark-shadow: #7a7777;
