

@mixin card-inner-shadow() {
  box-shadow: inset 7px 10px 15px 0px #d3cdcd, 1px 2px 0px 0px #fffefe, inset 0px 1px 10px 8px #fff;
}

@mixin card-normal-shadow() {
  box-shadow: 12px 11px 11px 5px #e1e4e6, -8px -8px 7px 0px #f6f6f6;
}

@mixin container-shadow() {
  box-shadow: inset -2px -1px 7px #c7c6c68f, inset 1px 4px 5px $shade-shadow;
}

@mixin label-shadow() {
  box-shadow: inset 1px 2px 0px 0px $strong-inset-shadow, inset -1px -1px 2px 0px #fff;
}

@mixin input-shadow() {
  box-shadow: 4px 5px 20px rgb(0 0 0 / 10%), -2px -1px 20px #fff, inset -5px -5px 5px rgb(255 255 255 / 50%), inset 5px 5px 5px rgb(0 0 0 / 5%);
}

@mixin graph-shadow() {
  // box-shadow: inset -1px 2px 3px $inset-shadow, 0px 3px 2px 0px $base-shadow, inset 0px 3px 4px 0px #d1d1d1;
  box-shadow: 15px 15px 20px rgb(0 0 0 / 10%), -2px -1px 20px #fff, inset -5px -5px 5px rgb(255 255 255 / 50%), inset 5px 5px 5px rgb(0 0 0 / 5%);
}

@mixin graph-bar() {
  box-shadow: 6px 7px 20px rgb(0 0 0 / 10%), -2px -1px 20px #fff, inset -1px -2px 0px rgb(255 255 255 / 50%), inset 5px 5px 5px rgb(0 0 0 / 5%)
  // box-shadow: inset -5px -5px 5px rgba(0,0,0,0.2), 
  // 0 420px 0 400px #2196f3;
}


@mixin sm-box-shadow() {
  box-shadow: -3px -3px 7px $base-shadow,
  3px 3px 5px $shade-shadow;
}

@mixin sm-box-inner-shadow() {
  box-shadow: inset -2px -1px 7px $base-shadow, inset 1px 4px 5px $shade-shadow;
}


@mixin btn-shadow() {
  box-shadow: -3px -3px 7px $base-shadow,
  3px 3px 5px $shade-shadow;
}

@mixin btn-hover-shadow() {
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 7px 0px #b7b8b9;
}

@mixin label($label-name) {
  background-color: $label-name;
  @include label-shadow();
}

@mixin bar($bg-color) {
  background-color: $bg-color;
  @include graph-bar();
}