@import './variables/colors';
@import './mixins/shadow';

.detail {
  display: flex;
  padding: 20px 50px;
  height: 100%;
  align-items: center;

  .image-section {
    width: 50%;
    padding: 20px;
  
    .profile {
      margin: 0 0 20px;
      .order {
        font-size: 20px;
        color: rgb(173, 171, 171);
      }
  
      .name {
        font-size: 35px;
      }

      .profile-image {
        text-align: center;
      }
    }

    .evolution {
      p {
        margin: 0 0 20px;
      }

      .evolution-image {
        display: flex;

        li {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          // box-shadow: inset -2px -1px 7px rgb(255 255 255 / 45%), inset 1px 4px 5px rgb(94 104 121 / 29%);
          .hidden {
            opacity: 0;
          }


          .pic {
            width: 150px;
            height: 150px;
            padding: 15px 0 0;
            text-align: center;
            background-color: $container-bg;
            box-shadow: -3px -3px 7px #ffffff73,
            3px 3px 5px rgba(94,104,121,0.288);
            cursor: pointer;

            &:hover {
              box-shadow: inset -2px -1px 7px rgb(255 255 255 / 45%), inset 1px 4px 5px rgb(94 104 121 / 29%);
            }
  
            .pic-name {
              margin: 0 0 10px;
            }
          }
        }
      }
    }
  }

  .pokemon-info-section {
    width: 50%;
    padding: 20px;

    .section {
      margin: 0 0 20px;
    }

    .detail-info, .default-info {

      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        min-width: 500px;
        text-align: center;
        box-shadow: inset -2px -1px 7px rgba(199, 198, 198, 0.562), inset 1px 4px 5px rgb(94 104 121 / 29%);

        li {
          width: 25%;
          padding: 10px;
          border: 1px solid #d6d4d4;
          margin: 0 -1px 0 0;
          // box-shadow: inset -2px -1px 7px rgba(199, 198, 198, 0.562), inset 1px 4px 5px rgb(94 104 121 / 29%);
          .category-title {
            font-size: 13px;
            margin: 0 0 10px;
          }

          .info-text-area {
            display: flex;
            justify-content: space-around;

            .label {
              width: 48px;
              border-radius: 4px;
              font-size: 14px;
              padding: 2px;
              cursor: pointer;
            }

            .gmax {
              color: $fighting-label;
              text-decoration-line: underline;
            }

            .mega {
              color: $water-label;
              text-decoration-line: underline;
            }
          }
        }
      }

      .ability {
        display: block;

        li {
          display: flex;
          width: 100%;
          position: relative;
          padding: 0;
          border-bottom: none;

          &:nth-last-child(1) {
            border-bottom: 1px solid #d6d4d4;
          }

          .ability-desc {
            flex: 1;
            padding: 10px;
          }

          .ability-name {
            min-width: 100px;
            padding: 10px;
            border-right: 1px solid #d6d4d4;
            position: relative;

            span {
              position: absolute;
              color: red;
              left: 16px;
              top: 6px;
              cursor: pointer;

              &:hover ~ .tool-tip {
                visibility: visible;
              }
            }

            .tool-tip {
              visibility: hidden;
              position: absolute;
              top: 28px;
              left: -2px;
              padding: 10px 14px;
              background-color: #3d3b3bcf;
              color: white;
              font-size: 13px;
              border-radius: 4px;
              z-index: 1;
              transition: all 0.3s ease;

              &::after {
                content: '';
                position: absolute;
                width: 0px;
                height: 0px;
                border-bottom: 9px solid #3d3b3bdc;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                left: 14px;
                top: -8px;
              }
            }

          }
        }
      }
    }

    .default-info {
      ul {
        li {
          padding: 0;
          .category-title {
            margin: 10px 0;
          }
          width: 20%;
        }
      }
    }

    .desc {
      .version-tab {
        display: flex;
        box-shadow: -3px -3px 7px #ffffff73,
        3px 3px 5px rgba(94,104,121,0.288);

        li {
          flex: 1;
          margin: 0 10px 0 0;
          padding: 10px;
          background-color: $container-bg; //#e7e7e7;
          box-shadow: -3px -3px 7px #ffffff73,
          3px 3px 5px rgba(94,104,121,0.288);
          font-size: 13px;
          text-align: center;
          align-items: center;
          cursor: pointer;

          &:nth-last-child(1) {
            margin: 0;
          }

          &:hover, &.selected-tab {
            box-shadow: inset -2px -1px 7px rgb(255 255 255 / 45%), inset 1px 4px 5px rgb(94 104 121 / 29%);
          }
        }
      }

      .desc-text {
        height: 130px;
        padding: 50px 42px;
        margin: 20px 0 0;
        border-radius: 10px;
        text-align: center;
        box-shadow: inset -2px -1px 7px rgba(199, 198, 198, 0.562), inset 1px 4px 5px rgb(94 104 121 / 29%);
      }
    }

    .rate {
      padding: 10px 20px;
      // background: $container-bg;
      border-radius: 10px;
      // box-shadow: -3px -3px 7px #ffffff73,
      // 3px 3px 5px rgba(94,104,121,0.288);
      box-shadow: inset -2px -1px 7px rgba(199, 198, 198, 0.562), inset 1px 4px 5px rgb(94 104 121 / 29%);
      .graph-section {
        display: flex;
        align-items: center;


        p {
          display: inline-block;
          line-height: 1.7;
          text-align: center;
          width: 90px;
        }

        .graph-label {
          text-align: left;
          width: 120px;

        }
        .graph {
          @include graph-shadow();
          display: inline-block;
          margin: 0 10px;
          width: 80%;
          padding: 10px;
          border-radius: 10px;
          position: relative;

          .graph-bar {
            position: absolute;
            left: 0;
            top: 0;
            padding: 10px;
            border-radius: 10px;
            width: 0;
            transition: all 1s ease;
          }

          .happiness-bar {
            background-color: $pink;
            @include graph-bar($normal-shadow);
          }

          .speed-bar {
            background-color: $water-label;
            @include graph-bar($normal-shadow);
          }

          .special-defense-bar {
            background-color: $ghost-label;
            @include graph-bar($normal-shadow);
          }

          .special-attack-bar {
            background-color: $electric-label;
            @include graph-bar($normal-shadow);
          }

          .hp-bar {
            background-color: $fire-label;
            @include graph-bar($normal-shadow);
          }

          .attack-bar {
            background-color: $fighting-label;
            @include graph-bar($normal-shadow);
          }

          .defense-bar {
            background-color: $grass-label;
            @include graph-bar($normal-shadow)
          }
        }
      }
    }

    .category {
      margin: 0 0 10px;
    }


    .btn-section {
      text-align: center;
      .btn {
        padding: 10px 20px;
        font-weight: bold;
        background-color: $container-bg; //#e7e7e7;
        box-shadow: -3px -3px 7px #ffffff73,
        3px 3px 5px rgba(94,104,121,0.288);
      }

    }
  }

  .section-title {
    background: $container-bg;
    // border-radius: 10px;
    padding: 5px 10px;
    box-shadow: -3px -3px 7px #ffffff73,
    3px 3px 5px rgba(94,104,121,0.288);
  }
}