@import './variables/colors';
@import './mixins/shadow';
@import './mixins/tooltip';

.detail {
  display: flex;
  padding: 20px 50px;
  height: 100%;
  align-items: center;

  .image-section {
    width: 50%;
    padding: 20px;
  
    .profile {
      margin: 0 0 20px;
      .order {
        font-size: 20px;
        color: rgb(173, 171, 171);
      }
  
      .name {
        font-size: 35px;
      }

      .profile-image {
        text-align: center;
      }
    }
  }

  .pokemon-info-section {
    width: 50%;
    padding: 20px;

    .section {
      margin: 0 0 20px;
    }

    .detail-info, .default-info {

      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        min-width: 500px;
        text-align: center;
        box-shadow: inset -2px -1px 7px rgba(199, 198, 198, 0.562), inset 1px 4px 5px rgb(94 104 121 / 29%);

        li {
          width: 25%;
          padding: 10px;
          border: 1px solid #d6d4d4;
          margin: 0 -1px 0 0;
          // box-shadow: inset -2px -1px 7px rgba(199, 198, 198, 0.562), inset 1px 4px 5px rgb(94 104 121 / 29%);
          .category-title {
            font-size: 13px;
            margin: 0 0 10px;
          }

          .info-text-area {
            display: flex;
            justify-content: space-around;

            .label {
              width: 48px;
              border-radius: 4px;
              font-size: 14px;
              padding: 2px;
              cursor: pointer;
            }

            .gmax {
              color: $fighting-label;
              text-decoration-line: underline;
            }

            .mega {
              color: $water-label;
              text-decoration-line: underline;
            }
          }
        }
      }

      .ability {
        display: block;

        li {
          display: flex;
          width: 100%;
          position: relative;
          padding: 0;
          border-bottom: none;

          &:nth-last-child(1) {
            border-bottom: 1px solid #d6d4d4;
          }

          .ability-desc {
            flex: 1;
            padding: 10px;
          }

          .ability-name {
            min-width: 138px;
            padding: 10px 20px;
            text-align: left;
            border-right: 1px solid #d6d4d4;
            position: relative;

            .tool-tip {
              @include tooltip (28px, -2px, -6px, 7px, 10px, 14px);
            }

            span {
              position: absolute;
              color: red;
              left: 9px;
              top: 6px;
              cursor: pointer;

              &:hover ~ .tool-tip {
                visibility: visible;
              }
            }
          }
        }
      }
    }

    .default-info {
      ul {
        li {
          padding: 0;
          .category-title {
            margin: 10px 0;
          }
          width: 20%;
        }
      }
    }

    

    .rate {
      padding: 10px 20px;
      box-shadow: inset -2px -1px 7px rgba(199, 198, 198, 0.562), inset 1px 4px 5px rgb(94 104 121 / 29%);

      .graph-section {
        display: flex;
        align-items: center;

        p {
          display: inline-block;
          line-height: 1.7;
          text-align: center;
          width: 90px;
        }

        .graph-label {
          text-align: left;
          width: 120px;

        }
        .graph {
          @include graph-shadow();
          display: inline-block;
          margin: 0 10px;
          width: 80%;
          padding: 10px;
          border-radius: 10px;
          position: relative;

          .graph-bar {
            position: absolute;
            left: 0;
            top: 0;
            padding: 10px;
            border-radius: 10px;
            width: 0;
            transition: all 1s ease;
          }

          .happiness-bar {
            background-color: $pink;
            @include graph-bar($normal-shadow);
          }

          .speed-bar {
            background-color: $water-label;
            @include graph-bar($normal-shadow);
          }

          .special-defense-bar {
            background-color: $ghost-label;
            @include graph-bar($normal-shadow);
          }

          .special-attack-bar {
            background-color: $electric-label;
            @include graph-bar($normal-shadow);
          }

          .hp-bar {
            background-color: $fire-label;
            @include graph-bar($normal-shadow);
          }

          .attack-bar {
            background-color: $fighting-label;
            @include graph-bar($normal-shadow);
          }

          .defense-bar {
            background-color: $grass-label;
            @include graph-bar($normal-shadow)
          }
        }
      }
    }

    .category {
      margin: 0 0 10px;
    }


    .btn-section {
      text-align: center;
      .btn {
        padding: 10px 20px;
        font-weight: bold;
        background-color: $container-bg; //#e7e7e7;
        box-shadow: -3px -3px 7px #ffffff73,
        3px 3px 5px rgba(94,104,121,0.288);
      }

    }
  }

  .section-title {
    background: $container-bg;
    // border-radius: 10px;
    padding: 5px 10px;
    box-shadow: -3px -3px 7px #ffffff73,
    3px 3px 5px rgba(94,104,121,0.288);
  }

  .desc {
    margin: 10px 0 20px;
    .version-tab {
      display: flex;
      box-shadow: -3px -3px 7px #ffffff73,
      3px 3px 5px rgba(94,104,121,0.288);

      li {
        flex: 1;
        margin: 0 10px 0 0;
        padding: 10px;
        background-color: $container-bg; //#e7e7e7;
        box-shadow: -3px -3px 7px #ffffff73,
        3px 3px 5px rgba(94,104,121,0.288);
        font-size: 13px;
        text-align: center;
        align-items: center;
        cursor: pointer;

        &:nth-last-child(1) {
          margin: 0;
        }

        &:hover, &.selected-tab {
          box-shadow: inset -2px -1px 7px rgb(255 255 255 / 45%), inset 1px 4px 5px rgb(94 104 121 / 29%);
        }
      }
    }

    .desc-text {
      height: 130px;
      padding: 50px 42px;
      margin: 20px 0 0;
      border-radius: 10px;
      text-align: center;
      box-shadow: inset -2px -1px 7px rgba(199, 198, 198, 0.562), inset 1px 4px 5px rgb(94 104 121 / 29%);
    }
  }

  .evolution {
    box-shadow: inset -2px -1px 7px rgba(199, 198, 198, 0.562), inset 1px 4px 5px rgb(94 104 121 / 29%);
    padding: 0 0 18px;
    margin: 0 0 20px;
    
    .evolution-image {
      display: flex;
      margin: 16px 0 0;
      
      li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .hidden {
          opacity: 0;
        }

        .pic {
          position: relative;
          width: 100px;
          height: 100px;
          text-align: center;
          background-color: $container-bg;
          box-shadow: -3px -3px 7px #ffffff73,
          3px 3px 5px rgba(94,104,121,0.288);
          cursor: pointer;

          &:hover {
            box-shadow: inset -2px -1px 7px rgb(255 255 255 / 45%), inset 1px 4px 5px rgb(94 104 121 / 29%);
          }

          .tool-tip {
            @include tooltip (83px, 16px, -5px, 22px, 6px, 13px);
          }

          &:hover .tool-tip {
            visibility: visible;
          }
        }
      }
    }
  }
}