@import './variables/colors';
@import './mixins/shadow';
@import './mixins/tooltip';
@import './mixins/media';

.detail {
  padding: 0 0 30px;



  .container {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 20px 50px;
    transition: all 0.3s ease;

    @include respond-to(wide) {
      display: block;
    }

    @include respond-to(sm) {
      padding: 20px 0;
    }
  }

  .image-section {
    width: 50%;
    padding: 0 20px;

    @include respond-to(wide) {
      width: 100%;
    }
  
    .profile {
      margin: 0 0 20px;

      .order {
        font-size: 20px;
        color: $gray-font;
      }
  
      .name {
        font-size: 35px;
      }
    }

    .profile-image {
      text-align: center;

      @include respond-to(mobile) {
        width: 63%;
        margin: 0 auto;
      }
    }
  }

  .pokemon-info-section {
    width: 50%;
    padding: 20px;

    @include respond-to(wide) {
      width: 100%;
    }
    .section {
      margin: 0 0 20px;
    }

    .detail-info, .default-info {

      ul {
        @include container-shadow();

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        text-align: center;

        li {
          width: 25%;
          padding: 10px;
          border: 1px solid $gray-border;
          border-right: none;

          @include respond-to(mobile) {
            width: 50%;
          }

          .category-title {
            font-size: 13px;
            margin: 0 0 10px;
          }

          .info-text-area {
            display: flex;
            justify-content: space-around;

            @include respond-to(pad) {
              font-size: 13px;
            }

            .label {
              border-radius: 4px;
              font-size: 14px;
              padding: 2px 7px;
              cursor: pointer;
            }

            .gmax {
              color: $fighting-label;
              text-decoration-line: underline;
            }

            .mega {
              color: $water-label;
              text-decoration-line: underline;
            }
          }
        }
      }

      .ability {
        display: block;

        li {
          position: relative;
          display: flex;
          width: 100%;
          padding: 0;
          border-bottom: none;

          &:nth-last-child(1) {
            border-bottom: 1px solid $gray-border;
          }
          

          @include respond-to(pad) {
            .ability-desc, .ability-name {
              font-size: 13px;
            }
          }

          .ability-desc {
            flex: 1;
            padding: 10px;
          }

          .ability-name {
            position: relative;
            min-width: 138px;
            padding: 10px 20px;
            text-align: left;
            border-right: 1px solid $gray-border;

            .tool-tip {
              @include tooltip (28px, -2px, -6px, 7px, 10px, 14px);
            }

            span {
              position: absolute;
              left: 9px;
              top: 6px;
              color: red;
              cursor: pointer;

              &:hover ~ .tool-tip {
                visibility: visible;
              }
            }
          }
        }
      }
    }

    .default-info {
      ul {
        li {
          // width: 20%;
          padding: 0;

          .category-title {
            margin: 10px 0;
          }

          @include respond-to(mobile) {
            width: 50%;
            padding: 0 0 10px;

            &:nth-child(1) {
              width: 100%;
            }
          }
        }
      }
    }

    

    .rate {
      @include container-shadow();
      padding: 10px 20px;

      .graph-section {
        display: flex;
        align-items: center;

        p {
          display: inline-block;
          width: 90px;
          line-height: 1.7;
          text-align: center;
        }

        .graph-label {
          width: 120px;
          text-align: left;

        }
        .graph {
          @include graph-shadow();
          position: relative;
          display: inline-block;
          width: 80%;
          margin: 0 10px;
          padding: 10px;
          border-radius: 10px;

          .graph-bar {
            position: absolute;
            left: 0;
            top: 0;
            padding: 10px;
            border-radius: 10px;
            width: 0;
            transition: all 1s ease;
          }

          .speed-bar {
            @include bar($pink);
          }

          .special-defense-bar {
            @include bar($grass-label);
          }

          .special-attack-bar {
            @include bar($flying-label);
          }

          .hp-bar {
            @include bar($fire-label);
          }

          .attack-bar {
            @include bar($orange);
          }

          .defense-bar {
            @include bar($yellow);
          }
        }
      }
    }

    .category {
      margin: 0 0 10px;
    }
  }

  .section-title {
    background: $container-bg;
    padding: 5px 10px;
    box-shadow: -3px -3px 7px #ffffff73,
    3px 3px 5px rgba(94,104,121,0.288);
  }

  .desc {
    margin: 10px 0 20px;
    position: relative;
    text-align: right;
    @include respond-to(pad) {
      font-size: 13px;

      .version-tab {
        font-size: 13px;
      }
    }

    .selected-version {
      @include input-shadow();
      display: inline-block;
      border-radius: 10px;
      padding: 6px 20px;
      color: $pink;
      cursor: pointer;

      .drop-down-icon {
        font-size: 13px;
        margin: 0 0 0 14px;
        transition: all 0.3s ease;
      }
    }
  
    .version-tab {
      position: absolute;
      right: 0;
      top: 50px;
      text-align: left;
      background-color: $container-bg;
      height: 200px;
      overflow-y: scroll;
      visibility: hidden;
  
      li {
        padding: 5px 20px;
        border-bottom: 1px solid $gray-border;

        &:hover {
          background-color: $base-shadow;
          color: $pink;
        }
      }
    }

    .drop-down:checked ~ .selected-version {
      .drop-down-icon {
        transform: rotateX(180deg);
      }
    }

    .drop-down:checked ~ .version-tab {
      visibility: visible;
    }
    .desc-text {
      @include container-shadow();

      height: 130px;
      padding: 50px 42px;
      margin: 20px 0 0;
      border-radius: 10px;
      text-align: center;
    }
  }

  .evolution {
    @include container-shadow();
    padding: 0 0 18px;
    margin: 0 0 20px;
    
    .evolution-image {
      display: flex;
      margin: 16px 0 0;
      
      li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .hidden {
          opacity: 0;
        }

        .pic {
          @include sm-box-shadow();

          position: relative;
          width: 100px;
          height: 100px;
          text-align: center;
          background-color: $container-bg;
          cursor: pointer;

          &:hover {
            @include sm-box-inner-shadow();
          }

          .tool-tip {
            @include tooltip (83px, 16px, -5px, 22px, 6px, 13px);
          }

          &:hover .tool-tip {
            visibility: visible;
          }
        }
      }
    }
  }


  .btn-section {
    text-align: center;

    .btn {
      @include btn-shadow();

      padding: 10px 20px;
      font-weight: bold;
      background-color: $dragon-label;
      border-radius: 20px;

      &:hover {
        @include btn-hover-shadow();
      }
    }

  }
}