@import 'variables';


.container {
  padding: 10% 0;
  text-align: center;

  .book {
    display: flex;
    align-items: center;
    justify-content: center;

    .cover {
      height: 300px;
      width: 260px;
      border-radius: 2px 20px 20px 2px;
      background-color: $book-color;
    }

    .page{

    }

    .backCover {
      position: absolute;
      box-shadow: 2px 2px 10px gray; 
    }
  }
}
