@import './variables/colors';
@import './mixins/shadow';


.normal {
  background-color: $normal-label;
  @include label-shadow($normal-shadow);
}

.fighting {
  background-color: $fighting-label;
  @include label-shadow($normal-shadow);
}

.flying {
  background-color: $flying-label;
  @include label-shadow($normal-shadow);
}

.poison {
  background-color: $poison-label;
  @include label-shadow($normal-shadow);
}

.ground {
  background-color: $ground-label;
  @include label-shadow($normal-shadow);
}

.rock {
  background-color: $rock-label;
  @include label-shadow($normal-shadow);
}

.bug {
  background-color: $bug-label;
  @include label-shadow($normal-shadow);
}

.ghost {
  background-color: $ghost-label;
  @include label-shadow($normal-shadow);
}

.steel {
  background-color: $steel-label;
  @include label-shadow($normal-shadow);
}

.fire {
  background-color: $fire-label;
  @include label-shadow($normal-shadow);
}

.water {
  background-color: $water-label;
  @include label-shadow($normal-shadow);
}

.grass {
  background-color: $grass-label;
  @include label-shadow($normal-shadow);
}

.electric {
  background-color: $electric-label;
  @include label-shadow($normal-shadow);
}

.psychic {
  background-color: $psychic-label;
  @include label-shadow($normal-shadow);
}

.ice {
  background-color: $ice-label;
  @include label-shadow($normal-shadow);
}

.dragon {
  background-color: $dragon-label;
  @include label-shadow($normal-shadow);
}

.fairy {
  background-color: $fairy-label;
  @include label-shadow($normal-shadow);
}

.unknown {
  background-color: $unknown-label;
  @include label-shadow($normal-shadow);
}

.shadow {
  background-color: $shadow-label;
  @include label-shadow($normal-shadow);
}

.dark {
  background-color: $dark-label;
  @include label-shadow($normal-shadow);
}