@import './variables/colors';
@import './mixins/shadow';

.main {
  padding: 20px;

  .logo {
    text-align: center;
  }
  .search-section {
    text-align: center;
    margin: 20px 0 150px;

    input {
      padding: 10px;
      width: 40%;
      border: 1px solid #7f7a7a;
      border-radius: 20px;
    }
  }
  .pokemon-list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $list-bg;
    border-radius: 5px;

    li {
      padding: 20px 47px;
      margin: 20px 10px;
      text-align: center;
      cursor: pointer;

      border: 1px solid #fff;
      background-color: $card-color;
      border-radius: 10px;
      transition: all 0.3s ease;
      
      &:hover {
        @include card-inner-shadow();
      }
    }
  }
}