@import './variables/colors';
@import './mixins/shadow';

.main {
  padding: 20px;

  .logo {
    text-align: center;
  }
  .search-section {
    margin: 20px 0 150px;

    .search-bar {
      position: relative;
      width: 40%;
      margin: 0 auto;
      border: 1px solid #7f7a7a;
      border-radius: 20px;

      input {
        width: 100%;
        height: 100%;
        padding: 13px 48px;
        background-color: transparent;
      }

      .search-icon {
        position: absolute;
        left: 15px;
        top: 13px;
        color: #525050;
      }

      .reset-icon {
        position: absolute;
        right: 15px;
        top: 13px;
        color: #525050;
        cursor: pointer;

        &:hover {
          color: red;
        }
      }
    }
  }
  .pokemon-list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $list-bg;
    border-radius: 5px;

    li {
      @include card-normal-shadow();

      padding: 20px 47px;
      margin: 20px 10px;
      text-align: center;
      cursor: pointer;
      border: 1px solid #fff;
      background-color: $container-bg;
      border-radius: 10px;
      transition: all 0.3s ease;
      
      &:hover {
        @include card-inner-shadow();
      }
    }
  }

  .loading {
    width: 100%;
    text-align: center;
  }
}