@import './variables';

.main {
  padding: 20px;

  .logo {
    text-align: center;
  }
  .searchSection {
    text-align: center;
    margin: 20px 0 150px;

    input {
      padding: 10px;
      width: 40%;
      border: 1px solid #7f7a7a;
      border-radius: 20px;
    }
  }
  .pokemonList {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      padding: 20px 47px;
      margin: 20px 10px;
      text-align: center;
      border: 1px solid gray;
      cursor: pointer;
    }
  }
}