
@import "./variables/shadow";
@import "./mixins/media";
@import "./mixins/position";
@import "./variables/colors";

.nav {
  padding: 20px;

  .intro {
    text-align: center;

    .logo {
      font-size: 50px;
    
      @include respond-to(mobile) {
        display: block;
        margin: 46px 0 0;
      }
    }

    .desc{
      margin: 10px 0 0;
      font-size: 13px;
    }
  }

  .language {
    padding: 10px 20px 0;
    text-align: right;
    position: relative;

    .selected-lang {
      @include pos-absolute(-10px, right, 0);

      display: flex;
      justify-content: flex-end;
      padding: 5px;
      border: 1px solid $gray-border;
      border-radius: 9px;
      font-size: 13px;
      box-shadow: $btn-shadow;
      cursor: pointer;

      span {
        margin: 0 0 0 5px;
      }

      &:hover {
        color: $pink;
        box-shadow: $input-shadow;
      }

      .drop-down-icon {
        margin: 3px 0 0 7px;
        font-size: 13px;
        transition: all 0.5s ease;
      }

      @include respond-to(mobile) {
        @include pos-absolute(-10px, right, -16px);
      }
    }

    ul {
      @include pos-absolute(29px, right, 20px);

      visibility:hidden;
      padding: 0 10px;
      transition: all 0.3s ease;
      border: 1px solid $gray-border;
      border-radius: 10px;
      background-color: #f8f6f6;
      box-shadow: $btn-shadow;
      
      li {
        padding: 5px 10px;
        display: flex;
        font-size: 15px;
        cursor: pointer;

        span {
          margin: 0 0 0 5px;
        }

        &:hover {
          color: $pink;
        }
      }
    }

    .selected-lang-box:checked ~ ul {
      visibility: visible;
    }

    .selected-lang-box:checked ~ .selected-lang {
      .drop-down-icon {
        transform: rotateX(180deg);
      }
    }
  }

}